   <div class="content_box">
    
	<form class="inner_form" [formGroup]="searchForm" (ngSubmit)="adminPercentageList()">
		<mat-form-field style="width:48%; display: inline-block !important;">
			<mat-label>Select Country</mat-label>
			<mat-select formControlName="country_id" (selectionChange)="onChangeCountry($event.value)">
				<mat-option *ngFor="let country of countryData" [value]="country.id">{{country.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		&nbsp;&nbsp;
		<mat-form-field style="width:48%; display: inline-block !important;">
			<mat-label>Select State</mat-label>
			<mat-select formControlName="state_id" (selectionChange)="onChangeState($event.value)">
				<mat-option *ngFor="let state of stateData" [value]="state.id">{{state.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field style="width:48%; display: inline-block !important;">
			<mat-label>Select City</mat-label>
			<mat-select formControlName="city_id">
				<mat-option *ngFor="let city of cityData" [value]="city.id" attr.data="city.name">{{city.name}}</mat-option>
			</mat-select>
		</mat-form-field>&nbsp;&nbsp;
		<input type="submit" name="search" id="btn_data_search" class="btn btn-success" value="Search" />&nbsp;
		<!--<input type="submit" class="btn btn-danger" (click)="reset_page()" value="Reset">-->
	</form>
	
	<div class="card">
		<div class="card-header card-header-danger">
			<h4 class="card-title">Admin Percentage</h4>
			<p class="card-category">
				Admin Percentage
			</p>
			<div><button (click)="addNew()" class="option_btn">Add Admin Percentage</button></div>
		</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Hourly Service</th>
							<th>Fixed Service</th>
							<th>Query Service</th>
							<th>Location</th>
							<th style="text-align: center">Action</th>
						</thead>
						<tbody>
							<tr *ngFor="let percentage of percentageData  | paginate: { itemsPerPage: 5, currentPage: page } ;let i = index">
								<td>{{percentage.hourly_service_percentage}} %</td>
								<td>{{percentage.fixed_service_percentage}} %</td>
								<td>{{percentage.query_service_percentage}} %</td>
								<td>
									<span style="font-size:small">Country - {{percentage.country}}</span><br>
									<span style="font-size:small">State - {{percentage.state}}</span><br>
									<span style="font-size:small">City - {{percentage.city}}</span>
								</td>
								<td style="text-align: center">
									<!--<i *ngIf="adminType != 3" style="cursor: pointer;" class="fa fa-trash" title="Delete" (click)="deleteHoliday(holiday._id)"></i>&nbsp;-->
									<i style="cursor: pointer;" class="fa fa-edit" title="Edit" (click)="editPercentage(percentage._id)"></i>
								</td>
							</tr>
							<tr *ngIf="percentageData?.length == 0">
								<td text-align="center" colspan="5">No Record found</td>
							</tr>
						</tbody>
					</table>
					<div class="has-text-centered">
						<pagination-controls (pageChange)="page = $event"></pagination-controls>
					</div>
				</div>
			</div>
		</div>
   </div>
