<div class="content_box">
	<div class="card">
		<div class="card-header card-header-danger">
			<h4 class="card-title">Zone Price View</h4>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead class="text-primary">
						<th>Hour</th>
						<th>Price</th>
						<th>New Price</th>
					</thead>
					<tbody>
						<tr *ngFor="let zonePriceView of zonePriceViewData; let i = index">
							<td>{{zonePriceView.hour}}</td>
							<td>{{zonePriceView.price}}</td>
							<td>{{zonePriceView.new_price}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>