<div class="content_box">   
    <div  class="card">
      <div  class="card-header card-header-danger">
        <h4  class="card-title ">Menu Management</h4>
        <p  class="card-category">
          Edit Menu 
        </p>       
      </div>
      <div  class="card-body"> 
    <div class="edit_form">
      <form class="inner_form" [formGroup]="EditForm" (ngSubmit)="updateData()">
 
      <mat-form-field>
        <input matInput type="text" placeholder="Menu Name (English)" formControlName="menu_name">
        <mat-error *ngIf="EditForm.controls['menu_name'].hasError('required') && EditForm.controls['menu_name'].touched">
            Please enter a Menu Name in English.
          </mat-error>
      </mat-form-field>
	  
	  <mat-form-field>
        <input matInput type="text" placeholder="Menu Name (Dutch)" formControlName="menu_name_dutch">
        <mat-error *ngIf="EditForm.controls['menu_name_dutch'].hasError('required') && EditForm.controls['menu_name_dutch'].touched">
            Please enter a Menu Name in Dutch.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Menu Description (English)" formControlName="menu_description">
        <mat-error *ngIf="EditForm.controls['menu_description'].hasError('required') && EditForm.controls['menu_description'].touched">
            Please enter a Menu Description in English.
          </mat-error>
      </mat-form-field>
	  
	  <mat-form-field>
			<input matInput type="text" placeholder="Menu Description (Dutch)" formControlName="menu_description_dutch">
			<mat-error *ngIf="EditForm.controls['menu_description_dutch'].hasError('required') && EditForm.controls['menu_description_dutch'].touched">
			Please enter a Menu Description in Dutch.
			</mat-error>
		</mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Price" formControlName="price">
        <mat-error *ngIf="EditForm.controls['price'].hasError('price') && EditForm.controls['price'].touched">
            Please enter a price.
          </mat-error>
          <mat-error *ngIf="EditForm.controls['price'].hasError('pattern') && EditForm.controls['price'].touched">
            Please enter a valid price.
          </mat-error>
      </mat-form-field> 
      
      <label >Upload file </label>
      <input  type="file" placeholder="Upload Menu Image"   (change)="onFileChoose($event)" />

      <div >
        <img src= "{{imgpath }}{{imgsrc}}"  height="150">
      </div>
      
     
        <!--<div class="form-group">
        <label for="language">language</label>
        <select class="form-control" formControlName="language" [(ngModel)]="language">
            <option value="E">English</option>
            <option value="D" selected>Dutch</option>
        </select>
        </div>-->
        <div class="form-group">
            <label for="language">Status</label>
            <select class="form-control" formControlName="status" [(ngModel)]="status">
                <option value="Y">Active</option>
                <option value="N" >InActive</option>
            </select>
            </div>
    <div class="btn_name">
    <button mat-button class="option_btn" [disabled]="EditForm.invalid">Update</button>
    </div> 
    </form>
  </div>
    </div>
  </div>