<div class="forgot_pass_modal">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="forgotData()">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
  
      <mat-error *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched">
          Please enter a valid email.
        </mat-error>
      <mat-error *ngIf="forgotForm.controls['email'].hasError('pattern') && forgotForm.controls['email'].touched">
          Please enter a valid email.
      </mat-error>
  
  
  </mat-form-field>
  <div class="buttons">
  <button mat-raised-button class="default_btn" (click)="onCloseconfirm()" [disabled]="forgotForm.invalid">Submit</button>
  <button mat-raised-button class="default_btn" (click)="onCancle()">Cancel</button>
  </div>
  </form>
  </div>
  