   <div class="content_box">
    <div class="card">
     <div class="card-header card-header-danger">
       <h4 class="card-title">Add On Management</h4>
       <p class="card-category">
         Add On List
       </p>
       <div>
			<button *ngIf="adminType != 3" (click)="addNew()" class="option_btn">Create Add Ons</button>&nbsp;
			<button mat-raised-button color="primary" *ngIf="back_param === 'category'" (click)="backtolist()"> Back To Category List </button>
			<button mat-raised-button color="primary" *ngIf="back_param === 'subcategory'" (click)="backtosublist(sub_cat_id)"> Back To Subcategory List </button>
		</div>
     </div>
     <div  class="card-body">
       <div  class="table-responsive">
         <table  class="table">
         <thead  class=" text-primary">
			<th>Category/Sub Category</th>
			<th>Add Ons</th>
			<th>Price</th>
			<th>Per Hour Status</th>
			<th>Status</th>
			<th>Action</th>
         </thead>
         <tbody >
           <tr *ngFor="let addOn of addOnData  | paginate: { itemsPerPage: 5, currentPage: page } ;let i = index" [ngClass]="{'brown':showColor}">

             <td>{{addOn.cat_subcat_name}} ({{addOn.add_on_type}})</td>
             <td>{{addOn.add_on_title}}</td>
             <td>{{addOn.price}}</td>
             <td>{{addOn.per_hour_status}}</td>
             <td style="cursor:pointer" *ngIf="addOn.status == 1" (click)="changeStatus(i,addOn._id,addOn.status)" [ngClass]="{'status_active': addOn.status==1}">Active</td>
             <td style="cursor:pointer" *ngIf="addOn.status == 0" (click)="changeStatus(i,addOn._id,addOn.status)" [ngClass]="{'status_inactive': addOn.status==0}">Inactive</td>

             <td>
				<button *ngIf="adminType != 3" _ngcontent-eva-c5="" class="btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button="" mattooltip="Edit driver" type="button" aria-describedby="cdk-describedby-message-2" cdk-describedby-host="">
					<span class="mat-button-wrapper" >
					<i _ngcontent-eva-c5="" class="material-icons" (click)="editMenu(addOn._id)">
					edit
					</i>
					</span>
				</button>
				<!--<div *ngIf="addOn.status==1" >
					<img src="./assets/tick.png" (click)="changeStatus(i,addOn._id,addOn.status)">
				</div>
				<div *ngIf="addOn.status==0">
					<img src="./assets/cross.png" (click)="changeStatus(i,addOn._id,addOn.status)">
				</div>-->
            </td>

           </tr>
           <tr *ngIf="addOnData?.length == 0">
               <td text-align="center" colspan="6">No Record found</td>
           </tr>
         </tbody>
         </table>
         <div class="has-text-centered">
           <pagination-controls (pageChange)="page = $event"></pagination-controls>
       </div>
       </div>
     </div>
   </div>


   </div>
