<div class="content_box">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Banner Management</h4>
      <p class="card-category">
        Add Banner
      </p>
      <div>
        <button mat-raised-button color="primary" (click)="backtolist()">Back To Banner List</button>
      </div>
    </div>
    <div class="card-body">
      <div class="edit_form">
        <form class="inner_form" [formGroup]="addForm" (ngSubmit)="addBanner()">
          <label style="color:black">Banner Position?</label><br>
		  Top - <input type="radio" name="position_status" formControlName="position_status" value="1">&nbsp;&nbsp;&nbsp;
		  Bottom - <input type="radio" name="position_status" formControlName="position_status" value="2">
		  <br>
		  
		  <mat-form-field style="width:48%; display: inline-block !important;">
            <mat-label>Select Country</mat-label>
            <mat-select formControlName="country_id" (selectionChange)="onChangeCountry($event.value)">
              <mat-option *ngFor="let country of countryData" [value]="country.id">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field style="width:48%; display: inline-block !important;">
            <mat-label>Select State</mat-label>
            <mat-select formControlName="state_id" (selectionChange)="onChangeState($event.value)">
              <mat-option *ngFor="let state of stateData" [value]="state.id">{{state.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width:48%; display: inline-block !important;">
            <mat-label>Select City</mat-label>
            <mat-select formControlName="city_id">
              <mat-option *ngFor="let city of cityData" [value]="city.id" attr.data="city.name">{{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field>
            <input matInput type="text" placeholder="Title" formControlName="title">
            <mat-error *ngIf="addForm.controls['title'].hasError('required') && addForm.controls['title'].touched">
              Please enter banner title.
            </mat-error>
          </mat-form-field>
          <div>
            <label>Upload Banner Image </label>
                    <input type="file" formControlName="banner_image" placeholder="Upload Banner Image"
                      (change)="onFileChoose($event)" />
          </div>
          <br />
          <div class="btn_name">
            <button mat-button class="option_btn">Add Banner</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
