.update_btn{
    padding: 5px 15px;
    border-radius: 4px;
    background: #012a7a;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}
.update_btn:hover{
    color: #fff;
    text-decoration: none;
}

/*.readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}*/
