<!-- <div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{ modalData.title }}</h1>
    </header>
    <section id="modal-body">
        <p>{{ modalData.actionButtonText }}</p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
            Send
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Go back
        </button>
    </footer>
</div> -->
<div id="modal-content-wrapper">
<!-- <h2 mat-dialog-title>{{description}}</h2> -->
<header id="modal-header">
    <h1 id="modal-title">Admin Reply To Customer : {{ modalData.name }}</h1>
</header>

    <mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <input  matInput placeholder="To" formControlName="to" readonly>
        </mat-form-field>
           
       

        <mat-form-field>
            <input matInput placeholder="Reply Message" formControlName="description">
        </mat-form-field>
        <input hidden matInput placeholder="Name" formControlName="name" > 
         
     
    </mat-dialog-content>



<!-- <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions> -->
<footer id="modal-footer">
    <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
        Send
    </button>
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
        Go back
    </button>
</footer>

</div>