<div class="content_box">
    <h2>Change Password</h2>
    <form class="inner_form" [formGroup]="changepasswordForm" (ngSubmit)="changepass()">
        <mat-form-field>
          <input matInput type="password" placeholder="Current Password" formControlName="currentpassword">
          <mat-error *ngIf="changepasswordForm.controls['currentpassword'].hasError('required') && changepasswordForm.controls['currentpassword'].touched">
              Please enter current password.
            </mat-error>
          <mat-error *ngIf="changepasswordForm.controls['currentpassword'].hasError('minlength') && changepasswordForm.controls['currentpassword'].touched">
              Invalid current password.
            </mat-error>

          <mat-error *ngIf="changepasswordForm.controls['currentpassword'].hasError('maxlength') && changepasswordForm.controls['currentpassword'].touched">
              Invalid current password.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="New Password" formControlName="newpassword">
            <mat-error *ngIf="changepasswordForm.controls['newpassword'].hasError('required') && changepasswordForm.controls['newpassword'].touched">
                Please enter new password.
              </mat-error>
            <mat-error *ngIf="changepasswordForm.controls['newpassword'].hasError('minlength') && changepasswordForm.controls['newpassword'].touched">
                New password length must be minimum 6 characters.
              </mat-error>

            <mat-error *ngIf="changepasswordForm.controls['newpassword'].hasError('maxlength') && changepasswordForm.controls['newpassword'].touched">
                New password length must be maximum 15 characters.
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmnewpassword">
              <mat-error *ngIf="changepasswordForm.controls['confirmnewpassword'].hasError('required') && changepasswordForm.controls['confirmnewpassword'].touched">
                  Please enter confirm new password.
                </mat-error>
              <mat-error *ngIf="!changepasswordForm.controls['confirmnewpassword'].hasError('required') && changepasswordForm.controls['confirmnewpassword'].hasError('equalTo') && changepasswordForm.controls['confirmnewpassword'].touched">
                  New password and confirm new password must be same.
              </mat-error>
            </mat-form-field>

            <button mat-raised-button class="default_btn" [disabled]="changepasswordForm.invalid">Change Password</button>
      </form>
  </div>
  