<div class="content_box">
    <div  class="card">
      <div  class="card-header card-header-danger">
        <h4  class="card-title ">Home category Management</h4>
        <p  class="card-category">
          Add Category Name
        </p>
        
      </div>
      <div  class="card-body">  
    <div class="edit_form">
      <form class="inner_form"  [formGroup]="addForm" (ngSubmit)="addData()">
      <mat-form-field>
        <input matInput type="text" placeholder="category Nname" formControlName="categoryname">
        <mat-error *ngIf="addForm.controls['categoryname'].hasError('required') && addForm.controls['categoryname'].touched">
            Please enter a categoryname.
          </mat-error>
      </mat-form-field>
      
    <!-- <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor> -->
  
  
    <button mat-button class="option_btn" [disabled]="addForm.invalid">Add Content</button>
      
    </form>
  
  </div>
</div>
</div>