<div class="content_box">   
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Menu Management</h4>
        <p  class="card-category">
          Add Menu
        </p>       
      </div>
      <div  class="card-body"> 
    <div class="edit_form">
      <form class="inner_form" [formGroup]="addForm" (ngSubmit)="addData()">
      <mat-form-field>
        <input matInput type="text" placeholder="Menu Name (English)" formControlName="menu_name">
        <mat-error *ngIf="addForm.controls['menu_name'].hasError('required') && addForm.controls['menu_name'].touched">
            Please enter a Menu Name in English.
          </mat-error>
      </mat-form-field>
	  
	  <mat-form-field>
        <input matInput type="text" placeholder="Menu Name (Dutch)" formControlName="menu_name_dutch">
        <mat-error *ngIf="addForm.controls['menu_name_dutch'].hasError('required') && addForm.controls['menu_name_dutch'].touched">
            Please enter a Menu Name in Dutch.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Menu Description (English)" formControlName="menu_description">
        <mat-error *ngIf="addForm.controls['menu_description'].hasError('required') && addForm.controls['menu_description'].touched">
            Please enter a Menu Description in English.
          </mat-error>
      </mat-form-field> 

		<mat-form-field>
			<input matInput type="text" placeholder="Menu Description (Dutch)" formControlName="menu_description_dutch">
			<mat-error *ngIf="addForm.controls['menu_description_dutch'].hasError('required') && addForm.controls['menu_description_dutch'].touched">
			Please enter a Menu Description in Dutch.
			</mat-error>
		</mat-form-field>	  

      <mat-form-field>
        <input matInput type="text" placeholder="Price" formControlName="price">
        <mat-error *ngIf="addForm.controls['price'].hasError('price') && addForm.controls['price'].touched">
            Please enter a price.
          </mat-error>
          <mat-error *ngIf="addForm.controls['price'].hasError('pattern') && addForm.controls['price'].touched">
            Please enter a valid price.
          </mat-error>
      </mat-form-field> 
      
      <label >Upload file</label>
      <input  type="file" placeholder="Upload Menu Image"   (change)="onFileChoose($event)" />
      
  
      <!-- <label for="singleFile">Upload file</label>
      <input id="singleFile" type="file" [fileUploadInputFor]= "menu_img"/> -->


<!-- <mat-file-upload-queue #fileUploadQueue
    [fileAlias]="'file'"
    [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">

    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
</mat-file-upload-queue> -->
     
<!--<div class="form-group">
  <label for="language">language</label>
  <select class="form-control" formControlName="language" [(ngModel)]="language">
     <option value="E">English</option>
     <option value="D" selected>Dutch</option>
  </select>
</div>-->
    <div class="btn_name">
    <button mat-button class="option_btn" [disabled]="addForm.invalid">Add Menu</button>
    </div> 
    </form>
  </div>
    </div>
  </div>