<div class="content_box">
  <div *ngIf="adminType == 0">
    <form class="inner_form" [formGroup]="searchForm" (ngSubmit)="spLatLnt()">
      <mat-form-field style="width:48%; display: inline-block !important;">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="country_id" (selectionChange)="onChangeCountry($event.value)">
          <mat-option *ngFor="let country of countryData" [value]="country.id">{{country.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="searchForm.controls['country_id'].hasError('required') && searchForm.controls['country_id'].touched">
          Please select country.
        </mat-error>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field style="width:48%; display: inline-block !important;">
        <mat-label>Select State</mat-label>
        <mat-select formControlName="state_id" (selectionChange)="onChangeState($event.value)">
          <mat-option *ngFor="let state of stateData" [value]="state.id">{{state.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="searchForm.controls['state_id'].hasError('required') && searchForm.controls['state_id'].touched">
          Please select state.
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width:48%; display: inline-block !important;">
        <mat-label>Select City</mat-label>
        <mat-select formControlName="city_id">
          <mat-option *ngFor="let city of cityData" [value]="city.id" attr.data="city.name">{{city.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="searchForm.controls['city_id'].hasError('required') && searchForm.controls['city_id'].touched">
          Please select city.
        </mat-error>
      </mat-form-field>&nbsp;&nbsp;
      <input type="submit" name="search" id="btn_data_search" [disabled]="searchForm.invalid" class="btn btn-success"
        value="Search" />&nbsp;
      <!-- <input type="submit" class="btn btn-danger" (click)="reset_page()" value="Reset"> -->
    </form>
  </div>

  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Service Provider Location</h4>
    </div>
    <div class="card-body">
      <div>
        <agm-map *ngIf="userLatLng.length == 0" [latitude]="spLatitude" [longitude]="spLongitude" [zoom]="zoom"
          [disableDefaultUI]="true">
        </agm-map>
        <agm-map *ngIf="userLatLng.length > 0" [latitude]="userLatLng[0].latitude" [longitude]="userLatLng[0].longitude"
          [zoom]="zoom" [disableDefaultUI]="true">
          <agm-marker *ngFor="let m of userLatLng;" [latitude]="m.latitude" [longitude]="m.longitude"
            [iconUrl]="iconImageUrl">
            <agm-info-window>
              <p>{{ m.sp_name }}</p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
